/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO-TERM-FAST 18
#define COMBO-TERM-SLOW 30

#define COMBO-IDLE-FAST 150
#define COMBO-IDLE-SLOW 50

/* Horizontal combos - left hand */
ZMK-COMBO(esc,   &kp ESC,      LT3 LT2,     DEF NAV NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST)
//ZMK-COMBO(mouse, &smart-mouse, LT2 LT1,     DEF NAV NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST)

// Combos overlapping HRMs are set up as hold-taps themselves to allow for instantaneous
// chording of mods. Custom hold-tap instances can be bootstrapped on the go using the
// 8-argument version of ZMK-COMBO defined in base.keymap.
ZMK-COMBO(tab,   &hml HOME,    LM3 LM2, DEF NAV NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST)
ZMK-COMBO(end,   &kp END,      LM2 LM1,     DEF NAV NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST, LS(LCTRL),    KEYS-R)
//ZMK-COMBO(ldrsh, &leader-sft,  LM3 LM2 LM1, DEF NAV NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST, LS(LC(LALT)), KEYS-R)

ZMK-COMBO(cut,   &kp LC(X),    LB3 LB1,     DEF NAV NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST)
ZMK-COMBO(copy,  &kp LC(INS),  LB3 LB2,     DEF NAV NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST)
ZMK-COMBO(paste, &kp LS(INS),  LB2 LB1,     DEF NAV NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST)

/* Horizontal combos - right hand */
ZMK-COMBO(bspc,  &kp BSPC,     RT1 RT2,     DEF NAV NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST)
ZMK-COMBO(del,   &kp DEL,      RT2 RT3,     DEF NAV NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST)

//ZMK-COMBO(lpar,  &lpar-lt,     RM1 RM2,     DEF     NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST, RS(LCTRL),    KEYS-L)
//ZMK-COMBO(rpar,  &rpar-gt,     RM2 RM3,     DEF     NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST, RS(LALT),     KEYS-L)
ZMK-COMBO(lt,    &kp LT,       RM1 RM2,         NAV    , COMBO-TERM-FAST, COMBO-IDLE-FAST)
ZMK-COMBO(gt,    &kp GT,       RM2 RM3,         NAV    , COMBO-TERM-FAST, COMBO-IDLE-FAST)

ZMK-COMBO(lbkt,  &kp LBKT,     RB1 RB2,     DEF     NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST)
ZMK-COMBO(rbkt,  &kp RBKT,     RB2 RB3,     DEF     NUM, COMBO-TERM-FAST, COMBO-IDLE-FAST)
ZMK-COMBO(lbrc,  &kp LBRC,     RB1 RB2,         NAV    , COMBO-TERM-FAST, COMBO-IDLE-FAST)
ZMK-COMBO(rbrc,  &kp RBRC,     RB2 RB3,         NAV    , COMBO-TERM-FAST, COMBO-IDLE-FAST)

/* Vertical combos - left hand */
ZMK-COMBO(at,    &kp AT,       LT3 LM3,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(hash,  &kp HASH,     LT2 LM2,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(dllr,  &kp DLLR,     LT1 LM1,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(prcnt, &kp PRCNT,    LT0 LM0,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)

ZMK-COMBO(grave, &kp GRAVE,    LM3 LB3,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(bslh,  &kp BSLH,     LM2 LB2,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(equal, &kp EQUAL,    LM1 LB1,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(tilde, &kp TILDE,    LM0 LB0,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)

/* Vertical combos - right hand */
ZMK-COMBO(caret, &kp CARET,    RT0 RM0,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(plus,  &kp PLUS,     RT1 RM1,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(star,  &kp STAR,     RT2 RM2,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(amps,  &kp AMPS,     RT3 RM3,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)

ZMK-COMBO(under, &kp UNDER,    RM0 RB0,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(minus, &kp MINUS,    RM1 RB1,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(fslh,  &kp FSLH,     RM2 RB2,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)
ZMK-COMBO(pipe,  &kp PIPE,     RM3 RB3,     DEF NAV NUM, COMBO-TERM-SLOW, COMBO-IDLE-SLOW)

